# Set to "true" to enable Langfuse observability (requires LANGFUSE_SECRET_KEY, etc.)
LANGFUSE_ENABLE=false
LANGFUSE_SECRET_KEY="sk-lf-248fa5dd-8735-4206-ae71-670abb265b67"
LANGFUSE_PUBLIC_KEY="pk-lf-631ef405-1f48-4eca-be15-ab72948c740c"
LANGFUSE_BASE_URL="http://localhost:3000"

DEEPSEEK_API_KEY="your-api-key"